* {
    box-sizing: border-box;

}

#twoBox {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    text-align: center;
}

section {
    left: 500px;
    position: absolute;
}

aside {
    float: left;
    background-color: green;
    width: 250px;
    height: 500px;

}

#cahier {
    position: relative;
}

.table {
    /* background-image: url(images.pageCahier.png);*/

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: absolute;
    width: 100px;
    top: 50;
    
    font-size: 3em;
}

.table+.table {
    padding-top: 40px;
}

.table+.table+.table {
    padding-top: 80px;
}

.table+.table+.table+.table {
    padding-top: 120px;
}

.table+.table+.table+.table+.table {
    padding-top: 160px;
}

.table+.table+.table+.table+.table+.table {
    padding-top: 200px;
}

.table+.table+.table+.table+.table+.table+.table {
    padding-top: 240px;
}

.table+.table+.table+.table+.table+.table+.table+.table {
    padding-top: 280px;
}

.table+.table+.table+.table+.table+.table+.table+.table+.table {
    padding-top: 320px;
}

.table+.table+.table+.table+.table+.table+.table+.table+.table+.table {
    padding-top: 360px;
}

/*.table:nth-child(n+){
    padding-top: 40px;
}*/
#math {
    position: relative;
}


a {
    text-decoration: none;
    /* Les liens ne seront plus soulignés */
}

a:hover

/* Quand le visiteur pointe sur le lien */
    {
    text-decoration: none;
    /* Le lien deviendra souligné quand on pointera dessus */
    color: #ef9303;
    /* Le lien sera écrit en vert quand on pointera dessus */
}

li {
    font-size: 2em;
}

ul {

    list-style: none;
    text-transform: uppercase;
}

.box {
    width: 500px;
    height: 500px;

}



h1 {
    text-align: center;
    text-transform: uppercase;
}



footer {
    text-align: center;
    background: #ccc;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0
}

body {
    background-color: grey;
    height: 100vh;
}