* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

#twoBox {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    text-align: center;
}

section {
    left: 500px;
    position: absolute;
}

aside {
    float: left;
    background-color: green;
    width: 250px;
    height: 500px;

}

#cahier {
    position: relative;
}

.table {
    /* background-image: url(images.pageCahier.png);*/

    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
  
    background-color: #ccc;
    width: 200px;
    font-size: 3em;
    flex-direction: column;
    position: relative;
    column-width: 100px;
    

}

.table2 {
    /* background-image: url(images.pageCahier.png);*/

    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    margin-right: 50px;
    background-color: #ccc;
    width: 200px;
    font-size: 3em;
    flex-direction: column;
    position: relative;

}



/*.table:nth-child(n+){
    padding-top: 40px;
}*/
#math {
    
    justify-content: space-between;
    position: absolute;
    width: 1000px;
    column-count: 3;
    
}


a {
    text-decoration: none;
    /* Les liens ne seront plus soulignés */
}

a:hover

/* Quand le visiteur pointe sur le lien */
    {
    text-decoration: none;
    /* Le lien deviendra souligné quand on pointera dessus */
    color: #ef9303;
    /* Le lien sera écrit en vert quand on pointera dessus */
}

li {
    font-size: 2em;
}

ul {

    list-style: none;
    text-transform: uppercase;
}

.box {
    width: 500px;
    height: 500px;

}



h1 {
    text-align: center;
    text-transform: uppercase;
}



footer {
    text-align: center;
    background: #ccc;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0
}

body {
    background-color: grey;
    height: 100vh;
}