* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body {
    margin: 0px;
    background-color: grey;
    margin:0;
    padding:0;
}





aside {
    /* Header */
    
    background-color: green;
    width: 24%;
    border: 1px solid #fcddd1;
    padding: 5px;
    float: left;
    height: 500px;
}

main {
   
   
    padding-bottom:60px;
    margin-left:260px;
    margin:0;
    padding:0;
    width: 100%;
}

footer {

    height:50px;
    line-height:50px;
    text-align: center;
    background: #ccc;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0
}

#twoBox {
    /* Accueil */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    text-align: center;

}
    #twoBox .box {
        /* Accueil */
        width: 500px;
        height: 500px;
    }

section {
    /* Révision */
    background-color: #fff4dd;
  width: 74%;
    /* position: absolute; */
}



label, input
{
    cursor:pointer;
}

#math {
    /* Colonne dans les révisons */
    justify-content: space-between;
    position: absolute;
    width: 1000px;
    column-count: 3;
    
}


a {
    text-decoration: none;
    /* Les liens ne seront plus soulignés */
}

a:hover

/* Quand le visiteur pointe sur le lien */
    {
    text-decoration: none;
    /* Le lien deviendra souligné quand on pointera dessus */
    color: #ef9303;
    /* Le lien sera écrit en vert quand on pointera dessus */
}

li {
    font-size: 2em;
}

ul {

    list-style: none;
    text-transform: uppercase;
}

h1 {
    text-align: center;
    text-transform: uppercase;
}



<style>

	*{ box-sizing:border-box; padding:0; margin:0; }

	section#container
	{
		position:relative;
	}

	section#container aside
	{
		position:absolute;
		background:green;
		width:20%;
		top:0;
		left:0;
		
	}

	section#container #content
	{
		position:absolute;
		
		width:80%;
		top:0;
		left:40%;
	}

